<div class="container-fluid p-0" style="overflow: hidden;">
  <div class="row">
    <div class="col-md-7">
      <img src="./assets/sport-banner.jpg" width="100%" style="height: 100vh;">
    </div>
    <div class="col-md-5">
      <div class="logo">
        <img src="../../assets/logo.png" width="230px" height="150px" />
        <p *ngIf="passMatchError!=''" style="color:red">{{passMatchError}}</p>
        <form [formGroup]="resetPasswordForm" class="form_class pt-2 pb-4 row"  (ngSubmit)="onSubmit()">
          <h4 class="col-12 mt-4 mb-3"><u>LOGIN</u></h4>
          <div class="col-12">
            <label class="text-left" for="password">Password:</label>
            <input type="password" id="password" placeholder="Password" formControlName="password"
              style="background:transparent;">
            <span style="display: inline-block;position: absolute;margin-top: 10px; margin-left: -30px;  "><i
                class="fa-solid fa-baseball-bat-ball fa-xl"></i></span>
          </div>
          <div class="error" *ngIf="f['password']?.errors?.['required'] && f['password']?.touched">
            Password is required.
          </div>
          <div class="error" *ngIf="f['password']?.errors?.['pattern']">
            Password should be 8 characters long and a combination of capital and small letters, numbers and special
            characters.
          </div>
          <div class="col-12">
            <label for="password">Confirm Password:</label>
            <input type="password" id="cpassword" placeholder="Confirm Password" formControlName="cpassword"
              style="background:transparent;">
            <span style="display: inline-block;position: absolute;margin-top: 10px; margin-left: -30px;  "><i
                class="fa-regular fa-futbol fa-xl"></i></span>
          </div>
          <div class="error" *ngIf="f['cpassword']?.errors?.['required'] && f['cpassword']?.touched">
            Confirm Password is required.
          </div>
          <div *ngIf="!(f['password'].value===f['cpassword'].value) && f['cpassword'].value!=''"
                                style="color:red">
            <div>Both password should be same.</div>
          </div>
          <div>
            <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
          </div>
          <div class="mt-3">
            <!-- <a class="fs-6 pointer" href="#" style="margin-right: 35px;color: #ec3f13" (click)="forgetPassword()">Forgot Password</a> -->
            <!-- <a routerLink="/forgot-password" class="fs-6 pointer" href="#" style="margin-right: 35px;color: #ec3f13">Forgot Password?</a> -->
            <a routerLink="/" type="button" style="color: hsl(246, 85%, 38%); text-decoration: none;">Click here to sign in</a>
          </div>
        </form>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
