<div class="auth-container" [ngStyle]="{'background-image': 'url(./assets/bg12.jpg)'}">
  <div class="logo">
    <img src="../../assets/logo.png" width="230px" height="150px"/>

    <form [formGroup]="loginForm" class="form_class"  (ngSubmit)="onSubmit()">

      <div class="mt-4">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Email" formControlName="email" style="background:transparent; border: 1px solid #199b3c; color: #199b3c;">
        <span style="display: inline-block;position: absolute;margin-top: 10px; margin-left: -30px;  "><i class="fa-solid fa-baseball-bat-ball fa-xl" style="color: #199b3c;"></i></span>
      </div>

      <div class="error" *ngIf="f['email']?.errors?.['required'] && f['email']?.touched">
        Email is required.
      </div>
      <div class="error" *ngIf="f['email']?.['errors']?.['email'] && f['email']?.touched" >
        Email must be a valid format.
      </div>
      <div class="">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" formControlName="password" style="background:transparent; border: 1px solid #199b3c; color: #199b3c;">
        <span style="display: inline-block;position: absolute;margin-top: 10px; margin-left: -30px;  "><i class="fa-regular fa-futbol fa-xl" style="color: #199b3c;"></i></span>
      </div>
      <div class="error" *ngIf="f['password']?.errors?.['required'] && f['password']?.touched">
        Password is required.
      </div>
      <div class="error" *ngIf="f['password']?.errors?.['pattern']">
        Password should be 8 characters long and a combination of capital and small letters, numbers and special characters.
      </div>
      <div>
        <button type="submit" [disabled]="loginForm.invalid"  >Sign In</button>
      </div>
      <div class="mt-2">
        <a href="#" style="color: #199b3c; text-decoration: none;" >Click here to Sign Up</a>
      </div>
    </form>
  </div>
</div>


